/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.6;
}


/* Menu */

.menu header{
  position:absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.back-button{
  width: 30px;
  height: 30px;
  top: 17px;
  left: 30px;
  text-decoration: none;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
  animation-name: back-button;
  font-size: 1.5rem;
  margin-left: 5px;
  
  
}

.menu-logo {
  height: 30px;
  margin-top: 20px;
  }

.menu-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  margin:0;
  padding:0;
  
  
  
}

.menu-title {
  width: 100%;
  background: rgba(246, 246, 246, 1);
  margin: -30px 0px 24px;
  padding: 24px 16px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.05);
  position: relative;
  max-width: 1440px;
 
}

.menu-title h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 400;
  font-size: 28px;
  margin:0;
  
  
}

.heart {
  font-size: 28px;
  color: #999;
  cursor: pointer;
  transition: color 0.3s;
  margin-right: 20px;

}


.menu-category {
  margin: 0 16px 24px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
}

.menu-category h2 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 12px;
  padding: 0 ;
  color: rgb(3, 3, 3);
  display: inline-block;
  position: relative;
}

.menu-category h2::after {
  content: '';
  display: block;
  width: 40px;
  height: 3px;
  background-color: rgb(153, 226, 208, 1);
  margin-top: 4px;
}
.menu-container {
  background-color: white;
  border-radius: 15px;
  padding: 12px 16px;
  margin-bottom: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.menu-container:hover {
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
}

.container-text {
  display: flex;
  flex-direction: column;
 }

.container-text h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.container-text p {
  margin: 4px 0 0;
  font-size: 14px;
  color: #666;
}

.prix {
  font-weight: bold;
  font-size: 14px;
 }


.menu-button {
  text-align: center;
  margin-bottom: 32px;
}

.button {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  color: white;
  padding: 12px 36px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(1.05);
}

/* Footer */
footer {
  background-color: #353535;
  color: white;
  padding: 32px 16px;
  font-family: 'Roboto', sans-serif;  
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
}

.footer-content {
  display:flex;
  flex-direction:column;
  gap: 20px;
  text-align: left;
  align-items: flex-start;
  max-width: 1440px;
  
}

.footer-item{
  display:flex;
  flex-direction: column;
  gap: 10px;
  padding:0;
  margin:0;
  list-style: none;
}

.footer-item li img{
  width: 11px;
  height: 13px;
  top: 2px;
}

.footer-item li {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-logo {
  height: 27px;
  width: 139px;
}

@media (min-width:1024px){
  .menu-logo{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
   }
  
  .menu-image img {
    width: 100%;
    height: 383px;
    object-fit: cover;
    display: block;
    margin:0;
    padding:0;
}

.menu-wrapper {
  max-width: 1044px;
  margin: -30px auto;
  padding: 30px 0;
  border-radius: 30px;
  background-color: #f6f6f6;
}

.menu-title {
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.menu-category {
  padding: 0 180px;
}

.menu-container {
  padding: 16px 24px;
}

.footer-content {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}
  

.footer-logo {
  align-self: flex-end;
}
.footer-item {
  flex-direction: row;
  align-items: flex-end;
  gap:32px;
}

}

