$font-stack: "Arial", sans-serif;
$bg-color: #f8f8f8;
$text-color: #333;
$line-height-base: 1.6;

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  background-color: $bg-color;
  color: $text-color;
  line-height: $line-height-base;
}

/* Header  */
$border-color: #ddd;
$text-light: #555;

header {
  background-color: white;
  text-align: center;
  border-bottom: 1px solid $border-color;
}

.logo {
  //margin-top: 14px;

  img {
    width: 197px;
    height: 36px;
    margin-top: 20px;;
  }
}

.adress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-top: 8px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  color: $text-light;
  background-color: #f3f3f3;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  img {
    width: 18px;
    height: 18px;
  }
}

/* reservation*/
$grey-bg: #f3f3f3;
$text-grey: #666;
$gradient: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
$button-radius: 25px;
$button-width: 218px;
$button-height: 50px;
$button-font: "Roboto", sans-serif;

.reservation {
  padding: 40px 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    font-family: $button-font;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }

  p {
    font-family: $button-font;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #353535;
    padding-bottom: 20px;
  }

  button {
    width: $button-width;
    height: $button-height;
    border-radius: $button-radius;
    background: $gradient;
    border: none;
    color: white;
    font-family: $button-font;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-top: 20px;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    }
  }
}

/* fonctionnement */
$bg-light: rgba(246, 246, 246, 1);
$text-dark: rgba(0, 0, 0, 1);
$purple: rgba(147, 86, 220, 1);
$box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
$numero-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);

.fonctionnement {
  padding: 60px 16px 40px;
  background-color: white;
  margin: auto;
  width: 100%;

  h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: $text-dark;
  }

  .step-container {
    display: flex;
    flex-direction: column;
    // gap:12px;
    padding-left: 20px;
    margin-bottom: 30px;
  }

  .step {
    background-color: $bg-light;
    max-width: 100%;
    border-radius: 18px;
    box-shadow: $box-shadow;
    padding: 25px 1px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 25px;

    img {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }

    p {
      font-family: Raleway;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      color: rgba(0, 0, 0, 1);
      padding-left: 20px;
    }
  }

  .numero {
    position: static;
    width: 24px;
    height: 24px;
    left: 10px;
    top: 50%;
    transform: none;
    background: $purple;
    color: white;
    border-radius: 50%;
    font-size: 12.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: $numero-shadow;
    margin-right: 20px;
    margin-left: -12px;
  }

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    object-fit: contain;
  }

  @media (min-width: 1024px) {
    & {
      padding: 50px 180px 30px 180px;
      gap: 25px;
    }

    h2 {
      padding: 10px 250px 50px 10px;
      height: 28px;
    }

    .step-container {
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 10px;
      justify-content: center;
    }

    .step {
      flex: 1;
      margin: 0 20px;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .step-container {
      align-items: center;
      padding-left: 0;
    }

    .step {
      margin: 0 auto;
      width: 100%;
      max-width: 500px;
    }
  }
}

/* restaurant */
$text-dark: rgba(0, 0, 0, 1);
$text-muted: #666;
$badge-bg: rgba(153, 226, 208, 1);
$badge-color: rgba(0, 135, 102, 1);
$card-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
$grey-bg: #f3f3f3;

.restaurants {
  padding: 24px 16px;
  // margin: auto;
  width: 100%;
  margin-top: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 0;
    font-family: Roboto;
    font-weight: 700;
    color: $text-dark;
    line-height: 100%;
    letter-spacing: 0%;
  }


.restaurants-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  //gap: 20px 200px ;
  margin: auto;
  max-width: 1440px;
}

.restaurants-card {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  //margin-bottom: 20px;
  box-shadow: $card-shadow;
  margin-top: 20px;
}

.card-image-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: transform 0.3s;
    display: block;
  }

  .badge {
    position: absolute;
    width: 80px;
    height: 29px;
    top: 13px;
    right: 13px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    align-content: center;
    background: rgba(153, 226, 208, 1);
    color: rgba(0, 135, 102, 1);
  }
 }
  .card-content {
    padding: 0;

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      h3 {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 700;
        color: #000;
        line-height: 1.2;
        margin-left: 16px;
      }

      .heart {
        display: inline-block;
        width: 22px;
        height: 21px;
        margin-top: 12px;
        margin-right: 16px;
        background-image: url("./images/heart-white.png");
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: background-image 0.3s ease;

        &:hover {
          opacity: 0.8;
        }
      }

      #heart-toggle-1:checked + .heart,
      #heart-toggle-2:checked + .heart,
      #heart-toggle-3:checked + .heart,
      #heart-toggle-4:checked + .heart {
        background-image: url("./images/heart-purple.png");
      }
    }

    p {
      //margin-top: 0 0 0 16px;
      font-size: 15px;
      color: $text-muted;
      line-height: 1.2;
      margin-left: 16px;
      padding-bottom: 10px;
    }
  }
  @media (min-width: 1024px) {
    & {
      padding: 0 180px;
      gap: 28px;
    }

    h2 {
      padding: 10px 250px 30px 10px;
      height: 28px;
      font-size: 24px;
    }

    .restaurants-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 40px;
    }
  }
}

/* Footer */
$footer-bg: #353535;
$text-light: white;
$font-main: "Roboto", sans-serif;

footer {
  background-color: $footer-bg;
  color: $text-light;
  padding: 32px 16px;
  font-family: $font-main;
  margin-top: 30px;

  .footer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 12px;

    .footer-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: left;
      align-items: flex-start;
      max-width: 1440px;

      .footer-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            width: 11px;
            height: 13px;
            top: 2px;
          }
        }
      }
      .footer-logo {
        height: 27px;
        width: 139px;
      }
      @media (min-width: 1024px) {
        & {
          flex-direction: row-reverse;
          justify-content: flex-start;
          align-items: flex-start;
          margin-left:auto;
        }
        .footer-logo {
          align-self: flex-end;
          margin-left: 50px;
        }
        .footer-item {
          flex-direction: row;
          gap: 32px;
          align-items: flex-end;
        }
      }
    }
  }
}
