/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.6;
}

/* Header  */
header {
  background-color: white;
  padding: 16px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.logo img {
  height: 35px;
}

.adress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  font-size: 14px;
  color: #555;
}
.adress img {
  width: 18px;
  height: 18px;
}

/* reservation*/
.reservation {
  background-color: #f3f3f3;
  padding: 32px 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reservation h2 {
  font-size: 20.8px;
  margin-bottom: 8px;
}
.reservation p {
  font-size: 15.2px;
  color: #666;
  margin-bottom: 8px;
}
.reservation button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease;
}
.reservation button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

/* fonctionnement */
.fonctionnement {
  padding: 24px 16px;
  background-color: white;
  margin: auto;
  width: 100%;
}
.fonctionnement h2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(0, 0, 0);
}
.fonctionnement .step-container {
  display: flex;
  flex-direction: column;
}
.fonctionnement .step {
  background-color: rgb(246, 246, 246);
  width: 322px;
  height: 72px;
  top: 505px;
  left: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 1px 1px 1px 3.5px;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 0.25px;
}
.fonctionnement .step img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.fonctionnement .step p {
  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(0, 0, 0);
  padding-left: 20px;
}
.fonctionnement .numero {
  position: static;
  width: 24px;
  height: 24px;
  left: 10px;
  top: 50%;
  transform: none;
  background: rgb(147, 86, 220);
  color: white;
  border-radius: 50%;
  font-size: 12.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 20px;
  margin-left: -12px;
}
.fonctionnement .icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 1024px) {
  .fonctionnement {
    padding: 50px 180px 30px 180px;
    gap: 25px;
  }
  .fonctionnement h2 {
    padding: 10px 250px 50px 10px;
    height: 28px;
  }
  .fonctionnement .step-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center;
  }
  .fonctionnement .step {
    flex: 1;
    margin: 0 20px;
  }
}

/* restaurant */
.restaurants {
  padding: 24px 16px;
  background-color: white;
  margin: auto;
  width: 100%;
}
.restaurants h2 {
  font-size: 24px;
  margin-bottom: 0;
  font-family: Roboto;
  font-weight: 700;
  color: rgb(0, 0, 0);
  line-height: 100%;
  letter-spacing: 0%;
}
.restaurants .restaurants-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px 200px;
  margin: auto;
  max-width: 1440px;
}
.restaurants .restaurants-card {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  margin-top: 20px;
}
.restaurants .card-image-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.restaurants .card-image-wrapper img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: transform 0.3s;
  display: block;
}
.restaurants .card-image-wrapper .badge {
  position: absolute;
  width: 61px;
  height: 16px;
  top: 7px;
  right: 20px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background: rgb(153, 226, 208);
  color: rgb(0, 135, 102);
  font-size: 14px;
}
.restaurants .card-content {
  padding: 0;
}
.restaurants .card-content .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants .card-content .card-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  line-height: 1;
  margin-left: 24px;
}
.restaurants .card-content .card-header .heart {
  display: inline-block;
  width: 22px;
  height: 21px;
  margin-top: 20px;
  margin-right: 20px;
  background-image: url("./images/heart-white.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-image 0.3s ease;
}
.restaurants .card-content .card-header .heart:hover {
  opacity: 0.8;
}
.restaurants .card-content .card-header #heart-toggle-1:checked + .heart,
.restaurants .card-content .card-header #heart-toggle-2:checked + .heart,
.restaurants .card-content .card-header #heart-toggle-3:checked + .heart,
.restaurants .card-content .card-header #heart-toggle-4:checked + .heart {
  background-image: url("./images/heart-purple.png");
}
.restaurants .card-content p {
  margin-top: 3.2px;
  font-size: 17px;
  color: #666;
  line-height: 1.4;
  margin-left: 24px;
  padding-bottom: 8px;
}
@media (min-width: 1024px) {
  .restaurants {
    padding: 0 180px;
    gap: 28px;
  }
  .restaurants h2 {
    padding: 10px 250px 30px 10px;
    height: 28px;
    font-size: 24px;
  }
  .restaurants .restaurants-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Footer */
footer {
  background-color: #353535;
  color: white;
  padding: 32px 16px;
  font-family: "Roboto", sans-serif;
}
footer .footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
}
footer .footer .footer-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  align-items: flex-start;
  max-width: 1440px;
}
footer .footer .footer-content .footer-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}
footer .footer .footer-content .footer-item li {
  display: flex;
  align-items: center;
  gap: 5px;
}
footer .footer .footer-content .footer-item li img {
  width: 11px;
  height: 13px;
  top: 2px;
}
footer .footer .footer-content .footer-logo {
  height: 27px;
  width: 139px;
}
@media (min-width: 1024px) {
  footer .footer .footer-content {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
  }
  footer .footer .footer-content .footer-logo {
    align-self: flex-end;
  }
  footer .footer .footer-content .footer-item {
    flex-direction: row;
    gap: 32px;
    align-items: flex-end;
  }
}/*# sourceMappingURL=ohmyfood.css.map */